WebContent/wsdl/ProductServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.product.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.product.com" xmlns:intf="http://services.product.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.product.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="createProduct">
    <complexType>
     <sequence>
      <element name="label" type="xsd:string"/>
      <element name="unitPrice" type="xsd:double"/>
      <element name="currency" type="xsd:string"/>
      <element name="weight" type="xsd:double"/>
      <element name="height" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="createProductResponse">
    <complexType>
     <sequence>
      <element name="createProductReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateProduct">
    <complexType>
     <sequence>
      <element name="codeProduct" type="xsd:int"/>
      <element name="label" type="xsd:string"/>
      <element name="unitPrice" type="xsd:double"/>
      <element name="currency" type="xsd:string"/>
      <element name="weight" type="xsd:double"/>
      <element name="height" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateProductResponse">
    <complexType>
     <sequence>
      <element name="updateProductReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteProduct">
    <complexType>
     <sequence>
      <element name="codeProduct" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteProductResponse">
    <complexType>
     <sequence>
      <element name="deleteProductReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="createProductResponse">

      <wsdl:part element="impl:createProductResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteProductResponse">

      <wsdl:part element="impl:deleteProductResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateProductRequest">

      <wsdl:part element="impl:updateProduct" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createProductRequest">

      <wsdl:part element="impl:createProduct" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateProductResponse">

      <wsdl:part element="impl:updateProductResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteProductRequest">

      <wsdl:part element="impl:deleteProduct" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ProductServiceImpl">

      <wsdl:operation name="createProduct">

         <wsdl:input message="impl:createProductRequest" name="createProductRequest">

       </wsdl:input>

         <wsdl:output message="impl:createProductResponse" name="createProductResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateProduct">

         <wsdl:input message="impl:updateProductRequest" name="updateProductRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateProductResponse" name="updateProductResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteProduct">

         <wsdl:input message="impl:deleteProductRequest" name="deleteProductRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteProductResponse" name="deleteProductResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProductServiceImplSoapBinding" type="impl:ProductServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createProduct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createProductRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createProductResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateProduct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateProductRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateProductResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteProduct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteProductRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteProductResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProductServiceImplService">

      <wsdl:port binding="impl:ProductServiceImplSoapBinding" name="ProductServiceImpl">

         <wsdlsoap:address location="http://localhost:1010/MHTestTechnique/services/ProductServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
